body, html {
    background: #aaa;
    width: 90%;
    height: 100%;
    margin: auto;
}

#game {
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url('background.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

#main {
  width: 100%;
}

#stats {
  right:0px;
  bottom:0px;
  text-align: right;
}

.characters {
  width: 20%
}

.character-portrait {
  float: left;
  margin: 16px;
  padding: 10px;
  width: 200px;
  height: 300px;
  background: #888;
}

.collapsible {
  background-color: #888;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #888;
}

.content {
  padding: 0 18px;
  background-color: #999;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  transition: max-height 0.2s ease-out;
}

#next-day {
    position:absolute;
    left: 50%;
    bottom: 50%;
    background-color: aliceblue;
    font-size: larger;
    padding: 30px;
}

#storyText {
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  font-size: 15px;
}

.choice {
  background: #999;
  display: inline-block;
  border: none;
  width: 30%;
  height: 30px;
  transition: all 0.5s;
  cursor: pointer;
}

.choice:hover
{
  width: 35%;
  height: 35px;
}
