body {
  background: #aaa;
}

#game {
  width: 100%;
  height: 100%;
}

#stats {
  position:absolute;
  left:0px;
  bottom:0px;
}

.character-portrait {
  float: left;
  margin: 16px;
  padding: 10px;
  width: 200px;
  height: 300px;
  background: #888;
}

 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #888;
  cursor: pointer;
  padding: 18px;
  width: 20%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #888;
}

.content {
  padding: 0 18px;
  background-color: #999;
  max-height: 0;
  overflow: hidden;
  width: 20%;
  transition: max-height 0.2s ease-out;
}
