body, html {
    background: #aaa;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#game {
  width: 100%;
  height: 100%;
  background-image: url('background.jpg');
  background-size: cover;
}

#stats {
  position:absolute;
  left:0px;
  bottom:0px;
}

.character-portrait {
  float: left;
  margin: 16px;
  padding: 10px;
  width: 200px;
  height: 300px;
  background: #888;
}

#next-day {
    position:absolute;
    bottom:20%;
    width:100%;
}

.center {
    margin: auto 0;
}
